:root{
    --pale-white:#eee;
    --snow:#fff;
    --pale-dk:rgba(0,0,0,0.45);
}

body{
    background:var(--pale-white);
}

#App{
    height:100vh;
    max-height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

.card{
    min-width:450px;
}

input:focus{
    outline:none !important;
    border:none !important;
}

#chat-container{
    background:var(--snow);
    height:65vh;
    max-height:65vh;
    overflow-y:scroll;
}

#chat-container::-webkit-scrollbar {
    display:none;
    width: 3px;
    height:5px;
    scroll-behavior: smooth;
}

#chat-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#chat-container::-webkit-scrollbar-thumb {
    background-color: var(--pale-dk);
    outline: 1px solid slategrey;
}

#main{
    width:600px;
    min-width:500px;
}

#loading{
    height:65vh;
    max-height:65vh;
}


#message-container #body{
    display: flex;
    justify-content:flex-start;
    align-items:flex-end;
}

#message-container #icon{
    width:35px;
    height:35px;
    border-radius:100%;
    background:red;
    display:flex;
    justify-content: center;
    align-items:center;
}

#message-container #message{
    padding:5px 15px;
    border-radius:3px 10px 7px 4px;
    background:var(--pale-white);
}